<p style="color: green"><%= notice %></p>

<%= turbo_stream_from "todos" %>
<div id="new_form">
<%= render "todos/form", todo: Todo.new %>
</div>
<h1>Todos</h1>

<div id="todos">
  <% @todos.each do |todo| %>
    <%= render todo %>
    <p>
    <%= link_to "Show this todo", todo %>
    <%= button_to "Destroy this todo", todo, method: :delete %>
    </p>
  <% end %>
</div>

